.app {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-header {
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding: 1rem 0;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.header-actions h1 {
    font-weight: 600;
    font-size: 1.5rem;
    color: #776B5D;
}

.actions-box {
    display: flex;
}

.app-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #EEF5FF;
    width: 1024px;
    height: 410px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 #B0A695;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 15px;
}

.pagination {
    display: flex;
    margin: 5px auto;
    align-items: center;
}

.pagination span {
    color: #776B5D;
    font-weight: 500;
}

.pagination span.disabled {
    opacity: .5;
}

@media (max-width: 1050px ) {
    .app-header {
        width: 700px;
    }
    
    .app-body {
        width: 724px;
        height: 345px;
        padding: 20px 15px;
    }
}

@media (max-width: 768px) {
    .app-header {
        width: 400px;
    }

    .app-body {
        width: 424px;
    }
}

@media (max-width: 425px) {
    .app-header {
        width: 276px;
    }

    .app-body {
        width: 300px;
    }
}